#mailcwp_toolbar {
  width: 100%;
  padding: 4px;
  display: inline-block;
}

@media (min-width: 640px) {
  #mailcwp_container {
    width: 100%;
    display: table-row;
  }

  #mailcwp_accounts {
    float: left;
    display: table-cell;
    width: 240px;
  }

  #mailcwp_headers {
    display: table-cell;
    width: 100%;
    padding: 2px 0;
    overflow: scroll;
    vertical-align: top;
  }
}

@media (max-width: 640px) {
  #mailcwp_container {
    width: 100%;
    display: block;
  }

  #mailcwp_accounts {
    display: block;
    width: 100%;
  }

  #mailcwp_headers {
    display: block;
    width: 100%;
    overflow: scroll;
    vertical-align: top;
  }
}

#mailcwp_headers_title {
  padding: 10px;
}

.mailcwp_unseen {
  font-weight: bold;
}

.mailcwp_answered {
  /*background: rgba(0, 127, 0, 0.3);*/
}

.mailcwp_deleted {
  /*background: rgba(127, 0, 0, 0.6);*/
  text-decoration: line-through;
}

.mailcwp_header_row div {
  height: 100%;
  width: 100%;
}

.mailcwp_header_row a {
  text-decoration: none;
  color: inherit;
}

.mailcwp_content {
  overflow: scroll;
}

.mailcwp_content pre {
  padding: 20px;
}

/*label {
  color: white !important;
}

input[type="text"] {
  color: gray !important;
}*/

#mailcwp_last_update {
  float: right;
  font-size: x-small;
  font-weight: normal;
}

.mailcwp_html_message {
  background: white;
  color: black;
  padding: 5px;
}

.mailcwp_paging_toolbar {
  padding: 5px;
}

.mailcwp_page_number {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 1px;
}

.mailcwp_page_number:hover {
  border: 1px solid;
  color: inherit;
}

.mailcwp_page_number_selected {
  border: 1px solid;
  padding: 1px;
}

.mailcwp_page_number_selected:hover {
  border: 1px solid;
  color: inherit;
}

.toolbar-input {
  display: inline !important;
  padding: 0px !important;
  margin: 0px 0px !important;
  max-width: 10em !important;
}

.filelist {
    width: 60%;
}
.filelist .file {
    padding: 5px;
    background: #ececec;
    border: solid 1px #ccc;
    margin-bottom: 4px;
}
.filelist .fileprogress {
    width: 0%;
    background: #B7C53D;
    height: 5px;
}
.plupload-thumbs {
 
}
.plupload-thumbs .thumb {
    width: 50px;
    padding-right: 5px;
    float: left;
}
.plupload-thumbs .thumb img {
    width: 50px;
    height: 50px;
}
.ui-sortable  .thumb img {
    cursor: pointer;
}

.ui-accordion-content ul li {
  overflow: hidden;
}

.ui-menu {
  z-index: 100;
}

.ui-autocomplete {
  z-index: 200;
}

.ui_autocomplete-input {
  width: 100% !important;
  height: 1.5em !important;
}

#progressbar {
  float: right; 
  display: none;
}

#themeswitcher {
  display: inline !important;
  overflow: hidden;
  padding: 0;
}

#lbl_themeswitcher {
  display: none;
}

#switcher_themeswitcher {
  width: 150px;
  height: 32px;
}

#mailcwp_prologue {
  width: 100%;
  text-align: center;
  font-size: smaller;
  padding: 5px;
}

input[id^='mailcwp_from'], input[id^='mailcwp_to'], input[id^='mailcwp_cc'], input[id^='mailcwp_bcc'] {
  width: 100%;
  height: 32px;
}
